body {
    background-image: linear-gradient(to right, rgb(7, 3, 31), rgb(14, 3, 57), rgb(47, 26, 26));
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

#menu {
    margin-top: 25px;
    margin-left: 10px;
    position: fixed;
    height: 100vh;
    width: 150px;
}


#menu ul li {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#menu ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

#menu ul li:hover {
    background-color: rgb(46, 50, 174);
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.5s;
}

.fas {
    font-size: 18px;
    margin-bottom: 20px;
}

main {
    margin-left: 200px;
}

#sobre-mim {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#saudacoes {
    margin-top: 100px;
    margin-left: 80px;
}

#sobre-mim #saudacoes h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

#sobre-mim #saudacoes #meu-nome {
    font-size: 3.5rem;
    color: rgb(5, 154, 199);
    flex-wrap: wrap;
}

#sobre-mim #saudacoes p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 40px;
    flex: 1;
}

#sobre-mim #foto {
    margin-top: 110px;
    margin-left: 30px;
}

#botao-sobre-mim {
    background-image: linear-gradient(to right, rgb(20, 6, 99), rgb(27, 8, 102), rgb(51, 37, 177));
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 20px;
    border-radius: 50px;
    border: solid 1px #fff;
    margin-left: 380px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#botao-sobre-mim:hover {
    background-image: linear-gradient(to right, rgb(7, 0, 76), rgb(0, 0, 50));
    color: rgb(255, 255, 255);
}

#botao-sobre-mim.desativado {
    display: none;
}

#apresentacao {
    display: none;
}

#apresentacao.ativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

#apresentacao img {
    border-radius: 20px;
    margin-right: 150px;
    margin-top: 100px;
    animation: fadeInAnimation ease 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#texto-sobre-mim {
    border: solid 1px #fff;
    border-radius: 20px;
    text-align: justify;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 16px;
    line-height: 40px;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#skills {
    display: none;
    margin-top: 150px;
    background-color: #fff;
    color: black;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
}

#skills.ativo {
    display: block;
    margin-top: 200px;
    margin-left: 130px;
    background-color: #ffffff;
    color: black;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
    animation: fadeInAnimation ease 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#skills h3 {
    text-align: center;
    margin-bottom: 60px;
}

#imagens-skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

#imagens-soft-skills {
    display: flex;
    justify-content: space-around;
}