body {
    background-image: linear-gradient(to right, rgb(7, 3, 31), rgb(14, 3, 57), rgb(47, 26, 26));
    font-family: 'Poppins', sans-serif;
    color: #fff;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-left: 10px;
    position: fixed;
    height: 100vh;
    width: 150px;
}


#menu ul li {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

#menu ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.icons {
    font-size: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.icons:hover {
    font-size: 50px;
}

main {
    margin-left: 230px;
}

#sobre-mim {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sobre-mim.animacao {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#saudacoes {
    margin-top: 150px;
    margin-left: 80px;
}

#sobre-mim #saudacoes h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 30px;
}

#sobre-mim #saudacoes #meu-nome {
    font-size: 3.5rem;
    color: rgb(5, 154, 199);
    flex-wrap: wrap;
}

#sobre-mim #saudacoes p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 40px;
    flex: 1;
}

#sobre-mim #foto {
    margin-top: 130px;
    margin-left: 30px;
}

#skills {
    display: none;
}

#skills.animacao {
    display: block;
}